﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trang admin</title>
    

    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="~/Content/Admin/css/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/maps/jquery-jvectormap-2.0.3.css" />
    <link href="~/Content/Admin/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/floatexamples.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/angular-chart.css" rel="stylesheet" />

    <script src="~/Content/Admin/js/jquery.min.js"></script>
    <script src="~/Content/Admin/js/jquery-ui-1.11.4.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title"><i class="fa fa-paw"></i> <span>Admin</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Content/Admin/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome, Admin</span>
                            <h2></h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "RevenueStatistics", new { Area = "Admin"})"><i class="fa fa-money"></i> Doanh thu</a></li>
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "UserManagement", new { Area = "Admin"})"><i class="fa fa-user"></i> Quản lý người dùng</a></li>
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "ProductManagement", new { Area = "Admin"})"><i class="fa fa-product-hunt"></i> Quản lý sản phẩm</a></li>
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "Manufacture_Category", new { Area = "Admin"})"><i class="fa fa-industry"></i> Quản lý NSX, loại SP</a></li>
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "Promotion", new { Area = "Admin"})"><i class="fa fa-gift"></i> Khuyến mãi</a></li>
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "Invoice", new { Area = "Admin"})"><i class="fa fa-shopping-cart"></i> Quản lý đơn hàng</a></li>
                            </ul>
                        </div>
                        
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li style="cursor: pointer"><a href="@Url.Action("Index", "Home", new { Area = ""})"><i class="fa fa-home"></i>Trở về trang chủ</a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @using (Html.BeginForm("LogOff", "Account", new { returnUrl = Request.RawUrl, Area = "" }, FormMethod.Post, new { @id = "logoff" }))
                        {
                            @Html.AntiForgeryToken()

                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:{}" onclick="document.getElementById('logoff').submit();">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        }
                        
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>


            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">










                <!-- This is content of page -->
                @RenderBody()






                <!-- footer content -->

                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">
                            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- gauge js -->
    <!-- bootstrap progress js -->
    <!-- icheck -->
    <script src="~/Content/Admin/js/icheck/icheck.min.js"></script>
    
    @RenderSection("scripts", required: false)
    <script src="~/Content/Admin/js/custom.js"></script>
</body>

</html>
