﻿@model Business.ViewModels.FileUploadContainer
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3> Hình ảnh: @ViewBag.ProName </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4>Phần upload ảnh:</h4>
        <div class="x_panel">
            <div class="x_content">
                @using (Html.BeginForm("UploadImages", "ProductManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="text" hidden="hidden" value="@Model.ProductID" name="ProductID" />
                    <input id="fileInputType" type="file" multiple class="fileUpload"
                           style="width:300px;" name="Files"><br />
                        <p style="color: #0066FF">
                            Click vào "Choose Files" để upload hình ảnh
                        </p>
                        <input type="submit" class="btn btn-success" value="Upload ảnh" />
                }
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4>Phần upload ảnh:</h4>
        <div class="x_panel">
            <div class="x_content">
                <h4>Hình ảnh của sản phẩm:</h4>
                @Html.Action("ShowUploaded", new { ProID = Model.ProductID })
            </div>
        </div>
    </div>
</div>
