﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div ng-app="myContent" ng-controller="showSale">
    <div class="page-title">
        <div class="title_left">
            <h3> Các chương trình khuyến mãi </h3>
        </div>

        <div style="float: right">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#addNewSale">Thêm khuyến mãi mới</a>
            <div class="modal fade" id="addNewSale" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="model-content" style="background-color: white;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Thêm sale</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table" border="0">
                                <tr>
                                    <td valign="middle" style="width: 30%">Ngày bắt đầu:</td>
                                    <td style="width: 30%">
                                        <input type="text" ng-model="newStartDate" name="StartDate" class="form-control dpStartDate" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" style="width: 30%">Ngày kết thúc:</td>
                                    <td style="width: 30%">
                                        <input type="text" ng-model="newDueDate" name="DueDate" class="form-control dpDueDate" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle" style="width: 30%">Mô tả KM:</td>
                                    <td style="width: 30%">
                                        <input type="text" ng-model="newDescription" name="Description" class="form-control" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <input data-SaleID="" class="btn btn-primary" type="button" ng-click="insertSale()" value="Thêm">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-init="loadSale()">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-striped responsive-utilities jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">ID </th>
                                <th class="column-title">Ngày bắt đầu </th>
                                <th class="column-title">Ngày kết thúc </th>
                                <th class="column-title">Mô tả </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Action</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="even pointer" ng-repeat="sale in sales">
                                <td class=" ">{{$index + 1}}</td>
                                <td class=" ">{{sale.StartDate}}</td>
                                <td class=" ">{{sale.DueDate}}</td>
                                <td class=" ">{{sale.Description}}</td>
                                <td class=" last">
                                    <a href="@Url.Action("Detail")?SaleID={{sale.SaleID}}">Chi tiết</a> /

                                    <a href="#" data-toggle="modal"
                                       data-target="myModal" ng-click="getSale($index)">Cập nhật</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade"
                         id="myModal"
                         tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Sale</h4>
                                </div>
                                <div class="modal-body">
                                    <table class="table" border="0">
                                        <tr>
                                            <td valign="middle" style="width: 30%">Ngày bắt đầu:</td>
                                            <td style="width: 30%">
                                                <input type="text" id="" class="form-control dpStartDate" ng-model="StartDate" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" style="width: 30%">Ngày kết thúc:</td>
                                            <td style="width: 30%">
                                                <input type="text" id="updateDueDate" class="form-control dpDueDate" ng-model="DueDate" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="middle" style="width: 30%">Mô tả:</td>
                                            <td style="width: 30%">
                                                <input type="text" class="form-control" ng-model="Description" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-primary" ng-model="SaleID" ng-click="updateSale()">
                                                    Cập nhật
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination" style="float:right">
                        <li class="active" ng-repeat="page in totalPages" @*ng-repeat="page in totalPages"*@>
                            <a href="#">{{page}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dpDueDate').datepicker({
                dateFormat: "mm/dd/yy"
            });

            $('.dpStartDate').datepicker({
                dateFormat: "mm/dd/yy"
            });

            $('.dpStartDate').datepicker().on("input change", function (e) {
                $(".dpDueDate").datepicker("option", "minDate", e.target.value);
            });

        });

        var content = angular.module("myContent", []);
        content.controller("showSale", function ($scope, $http) {
            $scope.sales;
            
            $scope.loadSale = function () {
                $http.get("/Admin/Promotion/LoadSales").success(function (response) {
                    //console.log(response.data); RESPONSE DEPEND ON 'SUCCESS' OR 'THEN'
                    $scope.countSale = 0;
                    $scope.sales = response.Items;
                    $scope.currentPage = response.CurrentPage;
                    $scope.totalItems = response.TotalItems;

                    //create page number
                    var pageNumber = [];
                    for (var i = 1; i <= response.TotalPages; i++) {
                        pageNumber.push(i);
                    }

                    $scope.totalPages = pageNumber;
 
                    for (var i = 0; i < $scope.sales.length; i++) {
                        var startDate = $scope.sales[i].StartDate;
                        var dueDate = $scope.sales[i].DueDate;
                        //var re = /-?\d+/;
                        //var m = re.exec(jsonDate);

                        var sd = new Date(parseInt(startDate.substr(6)));
                        var dd = new Date(parseInt(dueDate.substr(6)));

                        $scope.sales[i].StartDate = sd.toLocaleDateString('en-US');
                        $scope.sales[i].DueDate = dd.toLocaleDateString('en-US');
                    }
                });
            }

            $scope.getSale = function (index) {
                $scope.StartDate = $scope.sales[index].StartDate;
                $scope.DueDate = $scope.sales[index].DueDate;
                $scope.Description = $scope.sales[index].Description;
                $scope.SaleID = $scope.sales[index].SaleID;
            
                $('#updateDueDate').datepicker("option", "minDate", $scope.StartDate);
                $('#myModal').modal('show');
            }

            $scope.updateSale = function () {
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/UpdateSale",
                    params: {
                        SaleID: $scope.SaleID,
                        StartDate: $scope.StartDate,
                        DueDate: $scope.DueDate,
                        Description: $scope.Description
                    }
                }).then(function (response) {
                    $('#myModal').modal('hide');
                    $scope.loadSale();
                });
            }

            $scope.insertSale = function () {
                //console.log($scope.newStartDate);
                $http({
                    method: 'POST',
                    url: "/Admin/Promotion/CreateSale",
                    params: {
                        StartDate: $scope.newStartDate,
                        DueDate: $scope.newDueDate,
                        Description: $scope.newDescription
                    }
                }).success(function () {
                    $('#addNewSale').modal('hide');
                    $scope.loadSale();
                });
            }
        });

    </script>
}