﻿@model Business.ViewModels.UserViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model != null)
{
    <div class="page-title">
        <div class="title_left">
            <h3> Người dùng: @Model.Name</h3>
        </div>
        <div style="float: right">
            <a class="btn btn-default" style="background-color: #73879C; color: white" href="@Url.Action("Index")">Trở vê trang trước</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("UpdateUser", "UserManagement", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                        <input type="text" hidden="hidden" value="@Model.Id" name="Id" />
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Tên người dùng</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Giới tính</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @if (Model.Gender == true)
                                {
                                    <label> @Html.RadioButtonFor(model => model.Gender, "Nam", new { @checked = true }) Nam</label>
                                    <label> @Html.RadioButtonFor(model => model.Gender, "Nữ") Nữ</label>
                                }
                                else
                                {
                                    <label> @Html.RadioButtonFor(model => model.Gender, "Nam") Nam</label>
                                    <label> @Html.RadioButtonFor(model => model.Gender, "Nữ", new { @checked = true }) Nữ</label>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Địa chỉ</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Chứng minh thư</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.EditorFor(model => model.PersonalIdentity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PersonalIdentity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Di động</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Ngày sinh</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.TextBoxFor(model => model.DateOfBirth, "{0:MM-dd-yyyy}", new { @class = "form-control datepicker" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Quyền người dùng</label>
                            <div class="col-md-6 col-sm-9 col-xs-9">
                                @Html.Action("ShowRole", "UserRoleManament", new { Id = Model.Id })
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-primary" id="bcancel">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: "mm-dd-yy"
        });

        $('#bcancel').click(function () {
            $('<div></div>').appendTo('body')
            .html('<div><h6>Bạn có muốn huỷ bỏ những thay đổi?</h6></div>')
            .dialog({
                modal: true,
                title: 'Xác nhận',
                zIndex: 10000,
                autoOpen: true,
                width: '250px',
                resizable: false,
                buttons: {
                    Yes: function () {
                        location.reload();
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });

        });

    });
    </script>
}
