﻿@model PetaPoco.Page<Business.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<div class="page-title">
    <div class="title_left">
        <h3> Quản lý người dùng </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped responsive-utilities jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">ID </th>
                            <th class="column-title">Email </th>
                            <th class="column-title">Họ tên </th>
                            <th class="column-title">Địa chỉ </th>
                            <th class="column-title">CMND </th>
                            <th class="column-title">Di động </th>
                            <th class="column-title">Ngày sinh </th>
                            <th class="column-title">Giới tính </th>
                            <th class="column-title">Quyền người dùng </th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            
                            <tr class="even pointer">
                                <td>@count</td>
                                <td>@item.Email</td>
                                <td>@item.Name </td>
                                <td>@item.Address</td>
                                <td>@item.PersonalIdentity</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.DateOfBirth.ToShortDateString()</td>
                                <td class="a-right a-right ">@(item.Gender == true ? "Nam" : "Nữ")</td>
                                <td>@Html.Action("ShowRole", "UserRoleManament", new { Id = item.Id })</td>
                                <td class="last">
                                    <a href="@Url.Action("Detail", new {id = item.Id })">Chi tiết</a> /
                                    <a style="cursor: pointer" id="@String.Format("UserID{0}", item.Id)" data-UserID="@item.Id">Xoá</a>
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
                <ul class="pagination" style="float:right">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="active"><a href="@Url.Action("Index", new { page = i})">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", new { page = i})">@i</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("a[id*='UserID']").click(function () {
                var id = $(this).attr('data-UserID');
                var item = $(this).parent().parent();
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá người dùng này?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("DeleteUser")',
                                data: {
                                    UserID: id
                                },
                                success: function (result) {
                                    item.fadeOut();
                                }
                            });
                            $(this).dialog("close");

                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            });


            $("input[id*='RoleID']").on('click', function () {
                var UserID = $(this).attr("data-UserID");
                var RoleID = $(this).val();

                //True: add, False: remove
                var IsAddOrRemove = $(this).is(':checked');
                console.log(UserID + " / " + RoleID + " / " + IsAddOrRemove);

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("UpdateUserRole", "UserRoleManament")',
                    data: {
                        UserID: UserID,
                        RoleID: RoleID,
                        IsAddOrRemove: IsAddOrRemove
                    },
                    success: function (result) {
                        
                    }
                });


            });
        });
    </script>
}