﻿@model IEnumerable<Connection.Category>
@{ 
    Layout = null;
}

<div class="col-md-4">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr class="headings">
                    <th class="column-title">ID </th>
                    <th class="column-title">Tên loại SP </th>

                    <th class="column-title no-link last">
                        <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="even pointer">
                        <td>@item.CategoryID</td>
                        <td id="@String.Format("lbCatName{0}", item.CategoryID)">@item.CategoryName</td>
                        <td class="last">
                            <a href="#" data-toggle="modal" data-target="@String.Format("#DetailCatID{0}", item.CategoryID)">Chi tiết</a>

                                <div class="modal fade" id="@String.Format("DetailCatID{0}", item.CategoryID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Loại sản phẩm</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table" border="0">
                                                    <tr>
                                                        <td valign="middle" style="width: 30%">Tên loại:</td>
                                                        <td style="width: 30%">
                                                            <input type="text" id="@String.Format("txtCatName{0}", item.CategoryID)" name="CategoryName" class="form-control" value="@item.CategoryName" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <a id="@String.Format("btnCapNhat{0}", item.CategoryID)" data-CatID="@item.CategoryID" class="btn btn-default">
                                                                Cập nhật
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             /
                            <a style="cursor:pointer" id="@String.Format("DelCatID{0}", item.CategoryID)" data-CatID="@item.CategoryID">Xoá</a> /
                            <a style="cursor:pointer" id="@String.Format("BannerCatID{0}", item.CategoryID)"
                               data-CatID="@item.CategoryID" 
                               data-CateBanner="@item.Banner"
                               data-CatName="@item.CategoryName">Hình ảnh</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <input class="form-control text-box single-line" id="NewCategoryName" type="text" placeholder="Tên loại mới" value="">
        <br />
        <button type="button" id="btnAddCat" class="btn btn-success">Thêm mới</button> 
    </div>
</div>

<div id="viewCatBanner" class="col-md-7 col-md-offset-1" style="border: 1px solid #e5e5e5; height: 100%" hidden>
    <h2 id="CatNametitle"></h2>
    <div class="thumbnail">
        <div class="image view view-first" style="height: 180px">
            <img id="imgBanner" style="width: 100%; height: 100%; display: block;" src="" alt="Chưa có ảnh banner" />
            @*<div class="mask">
                <div class="tools tools-bottom">
                    <a style="cursor:pointer"><i class="fa fa-pencil"></i></a>
                    <a style="cursor:pointer"><i class="fa fa-times"></i></a>
                </div>
            </div>*@
        </div>
    </div>
    <input id="fileInputBanner" type="file" class="fileUpload"
           style="width:300px;" name="Files"><br />
    <input type="button" id="uploadBanner" class="btn btn-success" data-CatID="" value="Upload banner" />
</div>
