﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3> Quản lý nhà sản xuất, loại sản phẩm </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Loại sản phẩm </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Action("CategoryView")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nhà sản xuất </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Action("ProducerView")
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>Loại con </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Action("SubCategoryView")
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            //---------------------------------------First line Category-----------------------------------------------
            $("a[id*='btnCapNhat']").click(function () {
                var CatID = $(this).attr('data-CatID');
                var CatName = $('#txtCatName' + CatID).val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("UpdateCategory")',
                    data: {
                        CategoryID: CatID,
                        CategoryName: CatName
                    },
                    success: function (result) {
                        $('#DetailCatID' + CatID).modal('hide');
                        $('#lbCatName' + CatID).text(CatName);
                    }
                });

            });

            $("a[id*='BannerCatID']").click(function () {
                $('#CatNametitle').text($(this).attr('data-CatName'));
                $('#uploadBanner').attr('data-CatID', $(this).attr('data-CatID'));
                $('#viewCatBanner').removeProp('hidden');
                $('#imgBanner').fadeIn();
                $('#imgBanner').attr('src', $(this).attr('data-CateBanner'));
            });

            $('#uploadBanner').click(function () {
                var CatID = $(this).attr('data-CatID');

                var file_data = $('#fileInputBanner').prop('files')[0];
                var form_data = new FormData();
                form_data.append('file', file_data);

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Manufacture_Category/UploadBannerCategory?CatID=' + CatID,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function (result) {

                        $('#imgBanner').removeProp('src');
                        $('#imgBanner').attr('src', result);
                    }
                });
            });

            $('#btnAddCat').click(function () {
                var CatName = $('#NewCategoryName').val();
                console.log(CatName);
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("InsertCategory")',
                    data: {
                        CategoryName: CatName
                    },
                    success: function (result) {
                        $('#NewCategoryName').val('');
                        window.location.reload();
                    }
                });
            });

            $("a[id*='DelCatID']").click(function () {
                var id = $(this).attr('data-CatID');
                var item = $(this).parent().parent();
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá loại này?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("DeleteCategory")',
                                data: {
                                    CategoryID: id
                                },
                                success: function (result) {
                                    item.fadeOut();
                                }
                            });
                            $(this).dialog("close");

                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            });
            //---------------------------------------Last line Category-----------------------------------------------


            //---------------------------------------First line Producer-----------------------------------------------
            $("a[id*='btnUpdateProducer']").click(function () {
                var ProducerID = $(this).attr('data-ProducerID');
                var ProducerName = $('#txtProducerName' + ProducerID).val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("UpdateProducer")',
                    data: {
                        ProducerID: ProducerID,
                        ProducerName: ProducerName
                    },
                    success: function (result) {
                        $('#DetailProducerID' + ProducerID).modal('hide');
                        $('#lbProducerName' + ProducerID).text(ProducerName);
                    }
                });
            });


            $("a[id*='DelProducerID']").click(function () {
                var id = $(this).attr('data-ProducerID');
                var item = $(this).parent().parent();
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá nhà sản xuất này?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("DeleteProducer")',
                                data: {
                                    ProducerID: id
                                },
                                success: function (result) {
                                    item.fadeOut();
                                }
                            });
                            $(this).dialog("close");

                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            });


            $('#btnAddProducer').click(function () {
                var ProducerName = $('#NewProducerName').val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("InsertProducer")',
                    data: {
                        ProducerName: ProducerName
                    },
                    success: function (result) {
                        $('#NewProducerName').val('');
                        window.location.reload();
                    }
                });
            });

            
            $("a[id*='LogoProducerID']").click(function () {
                console.log("here");
                $('#ProducerNametitle').text($(this).attr('data-ProducerName'));
                $('#uploadLogo').attr('data-ProducerID', $(this).attr('data-ProducerID'));
                $('#viewProducerLogo').removeProp('hidden');
                $('#imgLogo').fadeIn();
                $('#imgLogo').attr('src', $(this).attr('data-LogoProducer'));
            });


            $('#uploadLogo').click(function () {
                var ProducerID = $(this).attr('data-ProducerID');

                var file_data = $('#fileInputLogo').prop('files')[0];
                var form_data = new FormData();
                form_data.append('file', file_data);

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Manufacture_Category/UploadLogoProducer?ProducerID=' + ProducerID,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: form_data,
                    success: function (result) {
                        $('#imgLogo').removeProp('src');
                        $('#imgLogo').attr('src', result);
                    }
                });
            });


            //---------------------------------------Last line Producer-----------------------------------------------


            //---------------------------------------First line SubCategory---------------------------------------------
            $("a[id*='btnUpdateSubCategory']").click(function () {
                var SubCategoryID = $(this).attr('data-SubCategoryID');
                var SubCategoryName = $('#txtSubCategoryname' + SubCategoryID).val();
                var CategoryID = $('#itemCatOfSubID' + SubCategoryID).children().val();
                var CategoryName = $('#itemCatOfSubID' + SubCategoryID).children().find("option:selected").text();
                console.log(CategoryName + " - " + CategoryID);

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("UpdateSubCategory")',
                    data: {
                        SubCategoryID: SubCategoryID,
                        SubCategoryName: SubCategoryName,
                        CategoryID: CategoryID
                    },
                    success: function (result) {
                        $('#DetailSubCategoryID' + SubCategoryID).modal('hide');
                        $('#lbSubCategoryName' + SubCategoryID).text(SubCategoryName);
                        $('#lbCategoryName' + SubCategoryID).text(CategoryName);
                    }
                });
            });

            $("a[id*='DelSubCategoryID']").click(function () {
                var id = $(this).attr('data-SubCategoryID');
                var item = $(this).parent().parent();
                $('<div></div>').appendTo('body')
                .html('<div><h6>Bạn có muốn xoá loại con này?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Xác nhận',
                    zIndex: 10000,
                    autoOpen: true,
                    width: '250px',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Action("DeleteSubCategory")',
                                data: {
                                    SubCategoryID: id
                                },
                                success: function (result) {
                                    item.fadeOut();
                                }
                            });
                            $(this).dialog("close");

                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            });

            $('#btnAddSubCategory').click(function () {
                var SubCategoryName = $('#NewSubCategoryName').val();
                var CategoryID = $('#CatOfSubID').children().val();
                
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("InsertSubCategory")',
                    data: {
                        SubCategoryName: SubCategoryName,
                        CategoryID: CategoryID
                    },
                    success: function (result) {
                        $('#NewSubCategoryName').val('');
                        window.location.reload();
                    }
                });
            });
            //---------------------------------------Last line SubCategory----------------------------------------------

        });

    </script>
}