﻿@model IEnumerable<Business.ViewModels.UserRoleViewModel>
@{ 
    Layout = null;
}

@foreach (var item in Model)
{
    <label>
    @if (item.UserId != null)
    {
        <input type="checkbox" name="RoleID" value="@item.Id" id="@String.Format("RoleID{0}{1}", item.Id, ViewBag.UserId)" data-UserID="@ViewBag.UserId" checked>@item.Name
    }
    else
    {
        <input type="checkbox" name="RoleID" value="@item.Id" id="@String.Format("RoleID{0}{1}", item.Id, ViewBag.UserId)" data-UserID="@ViewBag.UserId">@item.Name
    }
    </label><br />
}