﻿@model List<Business.ViewModels.CartProductViewModels>

@{
    Layout = null;
}

<div class="top-cart-wrapper">
    <div class="top-cart-contain">
        <div id="mini_cart_block">
            <div class="block-cart mini_cart_ajax">
                <div class="block-cart">
                    <div class="top-cart-title">
                        <span class="count-item">@ViewBag.Cart.CartTotal</span>
                        <a href="@Url.Action("Index", "ShoppingCart")">
                            <span class="title-cart">Giỏ hàng</span>
                        </a>
                    </div>

                    <div class="top-cart-content">
                        @if (ViewBag.Cart.CartTotal == 0)
                        {
                            <p class="empty">Bạn không có sản phẩm nào trong giỏ hàng.</p>
                        }
                        else
                        {
                            <div id="cart-sidebar" class="ui items">
                                @foreach (var element in Model)
                                {
                                    <div class="item">
                                        <div class="image">
                                            @if (element.RealQuantity == 0)
                                            {
                                                <img src="~/images/notification/soldout.png" class="soldOut" />
                                            }
                                            <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })">
                                                <img class="main-image" src="@(element.Images.Count > 0 ? element.Images[0].Link : "/images/no-image/268.jpg")" />
                                            </a>
                                        </div>

                                        <div class="content">
                                            <a href="@Url.Action("Detail", "Product", new { id = element.ProductID, name = element.RouteName })" class="header">
                                                @element.ProductName
                                            </a>

                                            <button class="ui icon button">
                                                <i class="remove icon"></i>
                                            </button>

                                            <div class="meta">
                                                <span>@element.Price.ToString("##,#")</span>
                                            </div>

                                            <div class="description">
                                                <p></p>
                                            </div>

                                            <div class="extra">
                                                <div class="qty-spinner" data-proId="@element.ProductID">
                                                    <button type="button" class="btn-decrease">&#8211;</button>

                                                    <input name="cart" value="@element.Quantity" size="4" class="input-text qty" maxlength="4" max="@element.RealQuantity" />

                                                    <button type="button" class="btn-increase">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        <div class="top-subtotal">Tổng tiền: <span class="price"><span>@(ViewBag.Cart.Total > 0 ? ViewBag.Cart.Total.ToString("##,#") : "0")</span> VNĐ</span></div>

                        @if (ViewBag.Cart.CartTotal != 0)
                        {
                            <form action="@Url.Action("Checkout", "ShoppingCart")" method="post">
                                <div class="actions">
                                    <button type="submit" class="button"><span><span>Thanh toán</span></span></button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
