﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container col1-layout">
    @*Start Banner*@
    <div class="ma-banner7-container">
        <div class="flexslider ma-nivoslider">
            <div id="ma-inivoslider-banner7" class="slides">
                <a href="@Url.Action("Cat", "Category", new { id = 1, name = "Laptop" })" title="Read more">
                    <img style="display: none;" src="~/images/slideshow/background/bg_home_slider1.jpg" alt="" title="#banner7-caption1" />
                </a>

                <a href="@Url.Action("Cat", "Category", new { id = 4, name = "Hardware" })" title="Read more">
                    <img style="display: none;" src="~/images/slideshow/background/bg_home_slider2.jpg" alt="" title="#banner7-caption2" />
                </a>
            </div>

            <div id="banner7-caption1" class="banner7-caption nivo-html-caption nivo-caption">
                <div class="banner7-content slider-1">
                    <div class="text-content">
                        <div class="title-container">
                            <h1 class="title1">Laptop</h1>
                        </div>
                        <div class="banner7-des">
                            Hàng chất lượng - giá hợp lý
                        </div>
                        <div class="banner7-readmore">
                            <a href="@Url.Action("Cat", "Category", new { id = 1, name = "Laptop" })" title="Read more">Mua ngay</a>
                        </div>
                    </div>

                    <img class="img1" src="~/images/slideshow/1.png" alt="" />
                </div>
            </div>

            <div id="banner7-caption2" class="banner7-caption nivo-html-caption nivo-caption">
                <div class="banner7-content slider-2">
                    <div class="text-content">
                        <div class="title-container">
                            <h1 class="title1">linh kiện</h1>
                        </div>
                        <div class="banner7-des">
                            Linh kiện giá mềm - hàng chính hãng 100%
                        </div>
                        <div class="banner7-readmore">
                            <a href="@Url.Action("Cat", "Category", new { id = 4, name = "Hardware" })" title="Read more">Mua ngay</a>
                        </div>
                    </div>

                    <img class="img1" src="~/images/slideshow/14.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    @*End Banner*@

    @*Start Introduce*@
    <div class="banner-static-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-sms-6 col-smb-12">
                    <div class="banner-box banner-box1">
                        <div class="box-inner">
                            <span class="image free-ship"></span>
                            <div class="text">
                                <a class="name" href="#">Giao hàng miễn phí</a>
                                <p>
                                    Giao hàng miễn phí cho các khách hàng ở trung tâm thành phố.
                                    Khách hàng vui lòng kiểm tra sản phẩm kỹ lưỡng trước khi nhận hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-sms-6 col-smb-12">
                    <div class="banner-box banner-box2">
                        <div class="box-inner">
                            <span class="image return"></span>
                            <div class="text">
                                <a class="name" href="#">Hoàn trả sản phẩm</a>
                                <p>
                                    Các sản phẩm của cửa được hoàn trả miễn phí trong vòng 3 ngày kể từ ngày mua.
                                    Sản phẩm phải còn tem bảo hành và nguyên vẹn theo quy định của giấy bảo hành.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-sms-6 col-smb-12">
                    <div class="banner-box banner-box3">
                        <div class="box-inner">
                            <span class="image gift"></span>
                            <div class="text">
                                <a class="name" href="#">Ưu đãi</a>
                                <p>
                                    Cửa hàng có các đợt ưu đãi với các sản phẩm có giá hấp dẫn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-sms-6 col-smb-12">
                    <div class="banner-box banner-box4">
                        <div class="box-inner">
                            <span class="image support"></span>
                            <div class="text">
                                <a class="name" href="#">Hổ trợ</a>
                                <p>
                                    Nếu có thắc mắc, quý khách xin vui lòng liên hệ chúng tôi để nhận được sự hổ trợ.
                                    Thời gian làm việc trong giờ hành chánh, trừ thứ bảy và chủ nhật.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Introduce*@

    @*Start Top Products*@
    <div class="container">
        <div class="main">
            <div class="col-main">
                <div class="std">
                    <div class="home-content">
                        <div class="producttabs">
                            <div class="tab-container">
                                <ul id="producttabs">
                                    <li class="item first active"><h3 class="new">Sản phẩm mới</h3></li>

                                    <li class="item"><h3 class="featured">Được mua nhiều nhất</h3></li>

                                    @if (ViewBag.HasSale)
                                    {
                                        <li class="item last"><h3 class="sale">Khuyến mãi</h3></li>
                                    }
                                </ul>
                            </div>

                            <div class="content">
                                @*Start Top New Products*@
                                @Html.Action("_TopNewPartial", "Home")
                                @*End Top New Products*@

                                @*Start Top Seller Products*@
                                @Html.Action("_TopSellerPartial", "Home")
                                @*End Top Seller Products*@

                                @*Start Top Sale Products*@
                                @if (ViewBag.HasSale)
                                {
                                    @Html.Action("_TopSalePartial", "Home")
                                }
                                @*End Top Sale Products*@
                            </div>
                        </div>
                    </div>
                </div>

                @*Start Banner*@
                <div class="banner-static">
                    <div class="row">
                        <div class="col-sm-6 col-sms-12">
                            <div class="banner-box banner-box1">
                                <div class="box-inner">
                                    <a href="@Url.Action("Cat", "Category", new { id = 3, name = "Tablet" })">
                                        <img src="~/images/slideshow/banner1.jpg" />
                                    </a>

                                    <div class="text">
                                        <h1>Tablet</h1>
                                        <p>Hàng chính hãng, chất lượng</p>
                                        @*<a class="shop-now" href="http://demo4plazathemes.com/19/ma_flaton/index.php/smart-phone.html">shop now</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sms-12">
                            <div class="banner-box banner-box2">
                                <div class="box-inner">
                                    <a href="@Url.Action("Cat", "Category", new { id = 3, name = "PC" })">
                                        <img src="~/images/slideshow/banner2.png" />
                                    </a>

                                    <div class="text">
                                        <h1>PC</h1>
                                        <p>Hàng chất lượng cao</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Banner*@

                @*Start Offers*@
                @if (ViewBag.HasSale)
                {
                    @Html.Action("_HotSalePartial", "Home")
                }
                @*End Offers*@
            </div>
        </div>
    </div>
    @*End Top Products*@
</div>

@*Start Category Banner*@
@Html.Action("_FeatureCategoryPartial", "Home")
@*End Category Banner*@

<div class="featured-categories"></div>

@*Start Most Viewed Products*@
@Html.Action("_MostViewedPartial", "Home")
@*End Most Viewed Products*@

@*<div class="testimonial-sidebar">
        <div class="container">
            <div class="modul-title2">
                <h2>What Our Clients Say</h2>
            </div>

            <div class="block-content">
                <div class="owl-container">
                    <div class="owl">
                        <div class='testimonial-list'>
                            <div class="testimonial-sidebar-content">
                                <div class="content">
                                    <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/testimonial/">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat...
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class='testimonial-list'>
                            <div class="testimonial-sidebar-content">
                                <div class="content">
                                    <a href="http://demo4plazathemes.com/19/ma_flaton/index.php/testimonial/">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="thumb">
                    <li onclick="testislider(0)" class="testithumb0 active"><img src="http://demo4plazathemes.com/19/ma_flaton/media/magentothem/avatar/banner_bottom3.jpg" alt="test" height="120" width="120" /></li>

                    <li onclick="testislider(1)" class="testithumb1 "><img src="http://demo4plazathemes.com/19/ma_flaton/media/magentothem/avatar/testimonial_avata1.png" alt="test" height="120" width="120" /></li>
                </ul>
            </div>
        </div>
    </div>*@