﻿@model RRShop.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="main">
        <div class="col-main">
            <div class="my-account">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="page-title">
                        <h2 style="text-align: center;">Đổi mật khẩu</h2>
                    </div>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="fieldset">
                        <h2 class="legend">Thông tin mật khẩu</h2>

                        <ul class="form-list">
                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.OldPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </li>

                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.NewPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </li>

                            <li>
                                <label for="email_address" class="required"><em>*</em>@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                                <div class="input-box">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="buttons-set">
                        <a style="float: left;" href="@Url.Action("ViewInformation", "Account")" class="button"><span><span>Xem thông tin cá nhân</span></span></a>
                        <button type="submit" class="button"><span><span>Thay đổi</span></span></button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
