﻿@model PetaPoco.Page<Business.ViewModels.InvoiceViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}


@section Styles {
    <link href="~/Content/semantic/dimmer.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/accordion.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/list.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/modal.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/form.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/checkbox.min.css" rel="stylesheet" />
    <link href="~/Content/semantic/step.min.css" rel="stylesheet" type="text/css" media="all" />
}

<div class="main-container col2-left-layout">
    <div class="container">
        <div class="main">
            <div class="row">
                <div class="col-left sidebar col-xs-12 col-sm-3">
                    <div class="block block-account">
                        <div class="block-title">
                            <strong><span>Danh mục</span></strong>
                        </div>

                        <div class="block-content">
                            <ul>
                                <li class=""><a href="@Url.Action("ViewInformation", "Account")">Thông tin cá nhân</a></li>
                                <li><a href="">Danh sách yêu thích</a></li>
                                <li class="current"><strong>Lịch sử giao dịch</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-main col-xs-12 col-sm-9">
                    <div class="my-account">
                        <div class="dashboard">
                            @*<div class="welcome-msg">
                                    <p class="hello"><strong>Hello, dsaf sadf!</strong></p>
                                    <p>Từ mục "tài khoản của tôi" bạn có khả năng xem hoạt động tài khoản gần đây của bạn và cập nhật thông tin tài khoản của bạn. Chọn một liên kết dưới đây để xem hoặc chỉnh sửa thông tin.</p>
                                </div>*@

                            <div class="box-account box-info">
                                <div class="box-head">
                                    <h2>Lịch sử mua hàng</h2>
                                </div>

                                <div class="col2-set">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th><strong>STT</strong></th>
                                                <th><strong>Ngày mua</strong></th>
                                                <th><strong>Người mua</strong></th>
                                                <th><strong>Địa chỉ</strong></th>
                                                <th><strong>Tổng tiền</strong></th>
                                                <th><strong>Tình trạng</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Items)
                                            {
                                                int j = 1;
                                                <tr class="ui styled accordion mainTr" tag="#@i">
                                                    <td>@i</td>
                                                    <td>@item.Date.ToShortDateString()</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.Total.ToString("##,#")</td>
                                                    <td>@item.StatusName</td>
                                                </tr>

                                                <tr class="content subTr" name="#@i">
                                                    <th>&emsp;</th>
                                                    <th><strong>STT</strong></th>
                                                    <th><strong>Tên sản phẩm</strong></th>
                                                    <th><strong>Số lượng</strong></th>
                                                    <th><strong>Giá</strong></th>
                                                </tr>

                                                <tr class="subTr" name="#@i">
                                                    @foreach (var sub in item.InvoiceDetails)
                                                    {
                                                        <td>&emsp;</td>
                                                        <td>@j</td>
                                                        <td>@sub.ProductName</td>
                                                        <td>@sub.Quantity</td>
                                                        <td>@sub.Price.ToString("##,#")</td>
                                                        j++;
                                                    }
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/myJS/semantic/dimmer.min.js"></script>
    <script src="~/Scripts/myJS/semantic/accordion.min.js"></script>
    <script src="~/Scripts/myJS/semantic/form.min.js"></script>
    <script src="~/Scripts/myJS/semantic/checkbox.min.js"></script>
    <script src="~/Scripts/myJS/semantic/modal.min.js"></script>
    <script src="~/Scripts/myJS/checkout.js"></script>
    <script>
        $(".mainTr").on("click", function () {
            var tag = $(this).attr("tag");
            var subtr = $("tr[name='" + tag + "'");
            
            if (subtr.hasClass("sh")) {
                subtr.removeClass("sh").addClass("hd").hide();
            } else {
                subtr.removeClass("hd").addClass("sh").show();
            }
        });
    </script>
}

