﻿@model Business.ViewModels.SearchItems
@{
    Layout = null;
}

<div class="col-left sidebar col-xs-12 col-sm-3">
    <div class="block block-layered-nav">
        <div class="block-title">
            <strong><span>Tìm kiếm nâng cao</span></strong>
        </div>
        @using (Html.BeginForm("AdvancedResult", "CatalogSearch", FormMethod.Get, new { id = "search_mini_form" }))
        {
        <div class="block-content">
            <div id="narrow-by-list">
                <!-- Start Sub Category List -->
                <div class="layered layered-Category">
                    <h2>Từ khóa</h2>
                    <div class="content-shopby">          
                        <input class="form-control" name="Keyword" type="text" placeholder="Nhập từ khóa">
                    </div>
                </div>
                <!-- End Sub Category List -->
                <!-- Start Category List -->
                <div class="layered layered-Category">
                    <h2>Loại sản phẩm</h2>
                    <div class="content-shopby">
                        <ol>
                            @Html.Action("_CategoryList", "CatalogSearch")
                            @*<li><a class="ajaxLayer" onclick="ajaxFilter('http://demo4plazathemes.com/19/ma_flaton/index.php/laptop.html?cat=8')">Dresses</a>(4)</li>*@
                            <!-- Start Code Here -->
                            <!-- End Code -->
                        </ol>
                    </div>
                </div>
                <!-- End Category List -->
                <!-- Start Sub Category List -->
                <div class="layered layered-Category">
                    <h2>Loại con</h2>
                    <div class="content-shopby">
                        <select class="form-control" id="SubCategoryID" name="SubCategoryID">
                            <option value="-1">-- Chọn loại con --</option>
                        </select>
                        <ol>
                            
                            @*<li><a class="ajaxLayer" onclick="ajaxFilter('http://demo4plazathemes.com/19/ma_flaton/index.php/laptop.html?cat=8')">Dresses</a>(4)</li>*@
                            <!-- Start Code Here -->
                            <!-- End Code -->
                        </ol>
                    </div>
                </div>
                <!-- End Sub Category List -->         
                <!-- Start Producer List -->
                <div class="layered layered-Manufacturer">
                    <h2>Nhà sản xuất</h2>
                    <div class="content-shopby">
                        <ol>
                            @Html.Action("_ProducerList", "CatalogSearch")
                            @*<li><a class="ajaxLayer" onclick="ajaxFilter('http://demo4plazathemes.com/19/ma_flaton/index.php/laptop.html?manufacturer=11')">acer</a>(1)</li>*@
                            <!-- Start Code Here -->
                            <!-- End Code -->
                        </ol>
                    </div>
                </div>
                <!-- End Producer List -->
                <!-- Start Price Filter -->
                <div class="layered layered-price">
                    <h2>Giá</h2>
                    <div class="content-shopby">
                        <input type="text" data-from="0" data-to="100000000" id="price_range" value="" />
                        <input type="text" id="price_from" name="PriceFrom" value="" hidden="hidden" />
                        <input type="text" id="price_to" name="PriceTo" value="" hidden="hidden"/>
                        <div id="search_pr" style="margin:0 0 20px;">
                            @*<input type="text" name="first_price" style="width: 65px; margin-right: 5px;" />
                            <input type="text" name="last_price" style="width:65px" />*@
                        </div>
                        @*<div id="slider-range"></div>
                        <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-range" aria-disabled="false">
                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                            <a class="ui-slider-handle ui-state-default ui-corner-all first_item" style="left: 0%;" href="#"></a>
                            <a class="ui-slider-handle ui-state-default ui-corner-all last_item" style="left: 100%;" href="#"></a>
                        </div>*@
                    </div>
                </div>
                <!-- End Price Filter -->
                <button class="button" type="submit" name="search_price" id="search_price">
                    <span><span>Tìm kiếm</span></span>
                </button>
            </div>
        </div>
        }
    </div>
</div>

