﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>R. R Shop</title>
    <meta name="description" content="Default Description" />
    <meta name="keywords" content="Raid Raptor Shop" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/images/logo/logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/logo/logo.png" type="image/x-icon" />

    @Styles.RenderFormat("<link href='{0}' rel='stylesheet' type='text/css' media='all' />", "~/Content/css")

    @RenderSection("styles", required: false)

</head>
<body class="@(ViewBag.ClassBody != null ? ViewBag.ClassBody : "product-view")">
    <div class="wrapper">
        <div class="page">
            @*Start Header*@
            <div class="header-container">
                <div class="toplink-contaner">
                    <div class="container">
                        <div class="top-link">
                            <div class="box-left">
                                <div class="email"><label>Email:</label> rrshop@gmail.com</div>
                                <div class="phone"><label>Hổ trợ miễn phí:</label> 0937 999 999</div>
                            </div>

                            @*Start Account Link*@
                            <div class="box-right">
                                @Html.Partial("_LoginPartial")
                            </div>
                            @*End Account Link*@
                        </div>
                    </div>
                </div>

                @*Start Main Menu*@
                <div class="header">
                    <div class="container">
                        <div class="header-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-sms-12">
                                    <div class="logo-container">
                                        <h1 class="logo">
                                            <strong>Raid Raptor</strong>
                                            <a href="@Url.Action("Index", "Home")" class="logo">
                                                <img src="~/images/logo/logo2.png" class="img-responsive" />
                                                <span>R.R Shop</span>
                                            </a>
                                        </h1>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-sm-12 col-sms-12">
                                    <div class="header-bottom">
                                        <div class="quick-access">
                                            @*Start Mobile Menu*@
                                            @Html.Action("_MobileMenuPartial", "Menu")
                                            @*End Mobile Menu*@

                                            @*Start Sub Menu*@
                                            @Html.Action("_MenuPartial", "Menu")
                                            @*End Sub Menu*@

                                            @*Start Cart*@
                                            @Html.Action("_CartShopPartial", "ShoppingCart")
                                            @*End Cart*@
                                        </div>

                                        @*Start Normal Search*@
                                        @using (Html.BeginForm("Result", "CatalogSearch", FormMethod.Get, new { id = "search_mini_form" }))
                                        {
                                            <div class="form-search">
                                                <label for="search">Search:</label>
                                                <input id="search" type="text" name="keyword" value="" class="input-text" maxlength="128" />
                                                <div class="loading_image_search"></div>
                                                <button type="submit" title="Search" class="button"><span><span>search</span></span></button>
                                                <div id="search_autocomplete" class="search-autocomplete"></div>
                                            </div>
                                        }
                                        @*End Normal Search*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Main Menu*@
            </div>
            @*End Header*@

            @*Start Body*@
            @RenderBody()
            @*End Body*@

            <script>
                var urlAdd = "@Url.Action("Post", "CartApi")";
                var urlRemove = "@Url.Action("Remove", "CartApi")";
                var urlRemoveAll = "@Url.Action("RemoveAll", "CartApi")";
                var urlChange = "@Url.Action("Update", "CartApi")";
                var urlCheckout = "@Url.Action("Post", "OrderApi")";
                var urlComment = "@Url.Action("Post", "CommentApi")";
                var urlChangePage = "@Url.Action("ChangePage", "CommentApi")";
            </script>

            @*Start Footer*@
            <div class="ma-footer-container">
                <div class="footer-static">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-sms-6 col-smb-12">
                                <div class="f-col f-col1">
                                    <div class="footer-title">
                                        <h2>thông tin về cửa hàng</h2>
                                    </div>
                                    <div class="footer-content">
                                        <p>
                                            Cửa hàng chúng tôi nói không với hàng giả, hàng dỏm. Mọi sản phẩm của cửa hàng đều là hàng
                                            chính hảng, hàng mới 100%. Chúng tôi luôn cố gắng hết sức để phục vụ tốt cho khách hàng của mình.
                                            <br />
                                            Mọi thông tin chi tiết vui lòng liên hệ với chúng tôi để biết thêm.
                                        </p>
                                        <div class="link-web">
                                            <ul>
                                                <li><a class="face"></a></li>
                                                <li><a class="twitter"></a></li>
                                                <li><a class="rss"></a></li>
                                                <li><a class="google"></a></li>
                                                <li><a class="print"></a></li>
                                            </ul>
                                        </div>
                                        <div class="payment"><img alt="" src="~/images/logo/payment.png" /></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-sms-6 col-smb-12">
                                <div class="f-col f-col2">
                                    <div class="footer-title">
                                        <h2>danh mục</h2>
                                    </div>
                                    <div class="footer-content">
                                        <ul>
                                            @Html.Action("_FooterMenuPartial", "Menu")
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-sms-6 col-smb-12">
                                <div class="f-col f-col4">
                                    <div class="footer-title">
                                        <h2>thông tin liên hệ</h2>
                                    </div>
                                    <div class="footer-content">
                                        <span class="address icon"> Địa chỉ: 227 Nguyễn Văn Cừ - Phường 4 - Quận 5 - Tp. Hồ Chí Minh.</span>
                                        <span class="phone icon"> (0937) 999 999 <br /> (0122) 999 999 </span>
                                        <span class="email icon"> rrshop@gmail.com </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="back-top" class="hidden-xs"></div>
            </div>
            @*End Footer*@
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/js")
    @Scripts.RenderFormat("<script type='text/javascript' src='{0}'></script>", "~/bundles/myScript")
    <script src="~/Scripts/myJS/timer.js"></script>

    @*<script type="text/javascript">
        $(document).ready(function () {
            $('body').bind('click', function () {
                $('#search_autocomplete').attr('style', 'display:none!important');
            });
            $('.main-container').live('click', function () {
                $('#search_autocomplete').slideToggle('slowly');
            })
        </script>*@

    <script type="text/javascript">
        var CUSTOMMENU_POPUP_EFFECT = 0;
        var CUSTOMMENU_POPUP_TOP_OFFSET = 87;
    </script>

    @*<script type="text/javascript">
            $(document).ready(function () {
                var enable_module = $('#enable_module').val();
                if (enable_module == 0) {
                    return false;
                }
            });
        </script>*@

    @*<script type="text/javascript">
            var searchForm = new Varien.searchForm('search_mini_form', 'search', 'Search');
            searchForm.initAutocomplete('http://demo4plazathemes.com/19/ma_flaton/index.php/catalogsearch/ajax/suggest/', 'search_autocomplete');
        </script>*@

    <script type="text/javascript">
        var mainTag = $("#search_mini_form");
        var bottom = mainTag.position().top;

        $(window).scroll(function () {
            if ($(this).scrollTop() >= bottom) {
                $('.quick-access').addClass("fix-header");

                var pt_menu = $(".pt_menu").last();

                $(".top-cart-wrapper").css({
                    "right": $("#pt_custommenu").width() - pt_menu.position().left - pt_menu.width()
                });
            } else {
                $('.fix-header').removeClass("fix-header");
                $(".top-cart-wrapper").css({
                    "right": 0
                });
            }
        });
    </script>

    <script type="text/javascript">
        $(window).load(function () {
            $(document).off('mouseenter').on('mouseenter', '.pos-slideshow', function (e) {
                $('.ma-banner7-container .timethai').addClass('pos_hover');
            });

            $(document).off('mouseleave').on('mouseleave', '.pos-slideshow', function (e) {
                $('.ma-banner7-container .timethai').removeClass('pos_hover');
            });
        });
        $(window).load(function () {
            $('#ma-inivoslider-banner7').nivoSlider({
                effect: 'fold',
                slices: 15,
                boxCols: 8,
                boxRows: 4,
                animSpeed: 600,
                pauseTime: 50000000,
                startSlide: 0,
                controlNav: false,
                controlNavThumbs: false,
                pauseOnHover: true,
                manualAdvance: false,
                prevText: 'Prev',
                nextText: 'Next',
                afterLoad: function () {
                    $('.ma-loading').css("display", "none");
                    //$('.banner7-title, .banner7-des, .banner7-readmore').css("left","100px") ;
                },
                beforeChange: function () {
                    //$('.banner7-title, .banner7-des').css("left","-2000px" );
                    //$('.banner7-readmore').css("left","-2000px");
                },
                afterChange: function () {
                    //$('.banner7-title, .banner7-des, .banner7-readmore').css("left","40px")
                }
            });
        });

        $("#price_range").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 100000000,
            from: 0,
            to: 100000000,
            onFinish: function (data) {
                $('#price_from').val(data.from);
                $('#price_to').val(data.to);
                console.log($('#price_from').val());
                console.log($('#price_to').val());
            }
        });

        $('#CategoryID').change(function () {
            $(this).find(":selected").each(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("AjaxGetSub", "CatalogSearch")',
                    data: {
                        CatID: $(this).val()
                    },
                    success: function (result) {
                        var subID = $('#SubCategoryID');
                        subID.empty();

                        $(document.createElement('option'))
                                .attr('value', '-1')
                                .text('-- Chọn loại con --')
                                .appendTo(subID);

                        $(result).each(function () {
                            $(document.createElement('option'))
                                .attr('value', this.SubCategoryID)
                                .text(this.SubCategoryName)
                                .appendTo(subID);
                        });
                    }
                });
            });
        });
    </script>

    @*<script type="text/javascript">
            if (typeof MA == 'undefined') MA = {};
            MA.QuickView = {
                CATEGORY_ENABLE: 'true',
                BASE_URL: '@Request.RawUrl'
            };
            initQuickButton('.producttabs');
            initQuickButton('.ma-mostviewedproductslider-container');
            initQuickButton('.category-container');
            initQuickButton('.ma-newproductslider-container');
            initQuickButton('.ma-onsaleproductslider-container');
        </script>*@


    @*<script type="text/javascript">decorateDataList('narrow-by-list')</script>
        <script type="text/javascript">decorateDataList('narrow-by-list')</script>

            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>

            <script type="text/javascript">decorateTable('shopping-cart-table')</script>

            <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>

            <script type="text/javascript">decorateTable('product-review-table')</script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
