﻿@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (!Request.IsAuthenticated)
{
    <a href="@Url.Action("Register", "Account")" class="a-login-link register">Đăng ký</a>

    <a href="@Url.Action("Login", "Account")" class="a-login-link login">Đăng nhập</a>
}
else
{
    if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Index", "RevenueStatistics", new { Area = "Admin" })" class="a-login-link dashboard">Dashboard</a>
    }

    <div class="link-container">
        <span class="icon-links user">Chào, @(((ClaimsIdentity)User.Identity).FindFirst("RealName").Value)!</span>

        <ul class="links">
            <li><a href="@Url.Action("ViewInformation", "Account")"><i class="fa fa-info-circle" aria-hidden="true"></i>&ensp; Thông tin tài khoản</a></li>

            <li><a href="@Url.Action("Index", "WishList")"><i class="fa fa-heart" aria-hidden="true"></i>&ensp; Yêu thích</a></li>

            <li><a href="@Url.Action("Index", "ShoppingCart")" class="top-link-checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&ensp; Giỏ hàng</a></li>

            <li>
                @using (Html.BeginForm("LogOff", "Account", new { returnUrl = Request.RawUrl }, FormMethod.Post, new { @id = "logoff" }))
                {
                    @Html.AntiForgeryToken()

                    <a id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&ensp; Đăng xuất</a>
                }
            </li>
        </ul>
    </div>
}