﻿.logo > img {
    height: 61px;
    text-align: center !important;
    vertical-align: middle !important;
    padding-left: 5px;
    display: inline-block;
}

img.soldOut {
    position: absolute;
    width: auto !important;
    height: auto !important;
    border-radius: unset;
}

#block-related img.soldOut {
    width: 15% !important;
}

a.logo > span {
    color: aquamarine;
    font-size: 28px;
}

.timethai {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49, 56, 72, 0.298);
    height: 5px;
    -webkit-animation: myfirst 50000000ms ease-in-out;
    -moz-animation: myfirst 50000000ms ease-in-out;
    -ms-animation: myfirst 50000000ms ease-in-out;
    animation: myfirst 50000000ms ease-in-out;
}

.fix-header {
    position: fixed !important;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0px;
    width: 100%;
}

/*CSS for Bottom Paging*/
.toolbar-bottom .paging {
    display: inline-block;
    margin: 20px 0;
}

    .toolbar-bottom .paging > li {
        display: inline;
    }

        .toolbar-bottom .paging > li > a {
            border-radius: 100%;
            color: #46a3b0;
            font-size: 20px;
            position: relative;
            padding: 9px 18px;
            float: left;
            background-color: #fff;
            margin: 0 2px;
        }

            .toolbar-bottom .paging > li > a.current,
            .toolbar-bottom .paging > li > a:hover {
                background-color: #46a3b0;
                color: #fff;
                font-weight: bold;
            }

            .toolbar-bottom .paging > li > a:focus {
                text-decoration: none;
            }

            .toolbar-bottom .paging > li > a.next,
            .toolbar-bottom .paging > li > a.prev {
                width: 46px;
            }

                .toolbar-bottom .paging > li > a.next::before {
                    content: "\f105";
                    font-family: fontawesome;
                }

                .toolbar-bottom .paging > li > a.prev::before {
                    content: "\f104";
                    font-family: fontawesome;
                }

/*CSS for Detail*/
.timer-view {
    float: left;
    width: 100%;
    padding: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
}

.timerdate {
    float: left;
    width: 100%;
    padding: 0 0 15px 10px;
    color: #FFFFFF;
    font-size: 13px;
}

#detail .product-image {
    margin: 0 0 10px;
}

#detail .cloud-zoom-gallery > img {
    height: 81.5px;
    width: 81.5px;
}

/*CSS for Account*/
.toplink-contaner .box-right > .register,
.toplink-contaner .box-right > .login,
.toplink-contaner .box-right > .dashboard,
.toplink-contaner .box-right .user {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    margin: 9px 20px 9px 0;
}

    .toplink-contaner .box-right > .register::before,
    .toplink-contaner .box-right > .login::before,
    .toplink-contaner .box-right > .dashboard::before,
    .toplink-contaner .box-right .user::before {
        display: inline-block;
        width: 36px;
        height: 21px;
        color: #969696;
        border: 1px solid #969696;
        border-radius: 11px;
        margin-right: 10px;
        line-height: 19px;
        font-family: FontAwesome;
        font-size: 12px;
        text-align: center;
    }

    .toplink-contaner .box-right > .register::before {
        content: "\f084";
    }

    .toplink-contaner .box-right > .login::before {
        content: "\f090";
    }

    .toplink-contaner .box-right > .dashboard::before {
        content: "\f285";
    }

    .toplink-contaner .box-right .user::before {
        content: "\f007";
    }

    .toplink-contaner .box-right > .register:focus,
    .toplink-contaner .box-right > .login:focus,
    .toplink-contaner .box-right > .dashboard:focus,
    .toplink-contaner .box-right .user:focus {
        text-decoration: none;
    }

.ui.selection.dropdown {
    font-size: 14px;
    display: block;
    min-height: 0px;
    height: 34px;
}

.menu > .item {
    font-size: 14px !important;
}

.fieldset > p {
    font-size: 14px;
    margin-top: 10px;
}

.buttons-set > a.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

    .buttons-set > a.button:hover {
    }

    .buttons-set > a.button span {
        display: block;
    }

        .buttons-set > a.button span span {
            line-height: 32px;
            padding: 0 20px;
            display: block;
            text-transform: uppercase;
            color: #787878;
            font-size: 12px;
            border: 1px solid #ddd;
            border-radius: 16px;
        }

    .buttons-set > a.button:hover span span {
        background: #46a3b0;
        color: #fff;
        border-color: #46a3b0;
    }

#RememberMe {
    margin-left: 5px;
}

.account-login p {
    font-size: 14px;
}

/*CSS for Category*/
p.no-item {
    font-size: 20px;
    text-align: center;
}

/*CSS for View Information*/
.dashboard .col2-set #btnSubmit {
    text-align: center;
}

.dashboard .dl-horizontal dt {
    margin-left: 30%;
    margin-right: 1%;
    text-align: left;
    font-size: 16px;
}

.dashboard .dl-horizontal dd {
    font-size: 16px;
}

.block.block-account .block-content > ul > li {
    font-size: 20px;
}

/*CSS for Cart Shop*/
.top-cart-content > p.empty {
    text-align: center;
}

.page-title {
    font-size: 16px;
}

    .page-title > i.fa.danger {
        color: #ff9999;
    }

    .page-title > i.fa.warning {
        color: #ffbf80;
    }

#shopping-cart-table tr.danger {
    background-color: #ffcccc;
}

#shopping-cart-table tr.warning {
    background-color: #ffd9b3;
}

.qty-spinner {
    position: relative;
    vertical-align: middle;
}

    .qty-spinner > input.qty {
        position: relative;
        text-align: center;
        border-radius: 100%;
        width: 35px !important;
        height: 35px;
        z-index: 3;
        border: 1px solid #a6a6a6;
    }

    .qty-spinner > button {
        border: 1px solid #a6a6a6;
        padding: 0 7px;
        font-size: 14px;
        width: 27px;
        height: 27px;
        position: relative;
        vertical-align: middle;
    }

        .qty-spinner > button.btn-increase {
            text-align: right;
            border-radius: 100%;
            margin-left: -16px;
            padding-right: 4px;
        }

        .qty-spinner > button.btn-decrease {
            text-align: left;
            border-radius: 100%;
            margin-right: -16px;
            padding-left: 4px;
        }

.cart-paging {
    display: inline-block;
}

    .cart-paging > li {
        display: inline;
    }

        .cart-paging > li > a {
            border-radius: 100%;
            color: #46a3b0;
            font-size: 20px;
            position: relative;
            padding: 9px 18px;
            float: left;
            background-color: #fff;
            margin: 0 2px;
        }

            .cart-paging > li > a.current,
            .cart-paging > li > a:hover {
                background-color: #46a3b0;
                color: #fff;
                font-weight: bold;
            }

            .cart-paging > li > a:focus {
                text-decoration: none;
            }

            .cart-paging > li > a.next,
            .cart-paging > li > a.prev {
                width: 46px;
            }

                .cart-paging > li > a.next::before {
                    content: "\f105";
                    font-family: fontawesome;
                }

                .cart-paging > li > a.prev::before {
                    content: "\f104";
                    font-family: fontawesome;
                }

#checkout .steps {
    width: 100%;
}

#checkout .step {
    font-size: 16px !important;
}

#checkout .segment {
    font-size: 16px !important;
    margin: auto;
    width: 50%;
}

    #checkout .segment .confirm-infor {
    }

        #checkout .segment .confirm-infor > h1 {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #checkout .segment .confirm-infor > .confirm-content {
            margin: auto;
            font-size: 16px;
            width: 70%;
        }

            #checkout .segment .confirm-infor > .confirm-content > .fields > label {
                width: 40%;
            }

            #checkout .segment .confirm-infor > .confirm-content > .fields > span {
                width: 60%;
            }

            #checkout .segment .confirm-infor > .confirm-content > .field {
                text-align: center;
                margin-top: 10px;
            }

    #checkout .segment div.radio {
        font-size: 16px !important;
    }

        #checkout .segment div.radio > input {
            position: absolute;
            left: 20px;
        }

        #checkout .segment div.radio > label {
            cursor: pointer;
        }

    #checkout .segment > #segmentButton {
        margin-top: 20px;
        text-align: center;
    }

        #checkout .segment > #segmentButton button,
        #checkout .segment > #segmentButton a {
            font-size: 16px;
        }

/*CSS for Comment*/
#product_tabs_product_additional_data_contents .toolbar {
    border-bottom: none;
}

#product_tabs_product_additional_data_contents .toolbar-bottom .paging {
    margin: 0;
}

    #product_tabs_product_additional_data_contents .toolbar-bottom .paging > li > a {
        cursor: pointer;
    }

        #product_tabs_product_additional_data_contents .toolbar-bottom .paging > li > a.current {
            cursor: unset;
        }

#product_tabs_product_additional_data_contents .ui.comments > .comment {
    margin-bottom: 10px;
}

#product_tabs_product_additional_data_contents .ui.comments .metadata {
    font-size: 14px;
}

#product_tabs_product_additional_data_contents .ui.comments .text {
    font-size: 16px;
    margin-left: 20px;
}

#product_tabs_product_additional_data_contents .ui.comments .author {
    font-size: 20px;
}

#product_tabs_product_additional_data_contents .form-add > h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#product_tabs_product_additional_data_contents .form-add h3 {
    font-size: 17px;
    margin: 10px 0;
}

#product_tabs_product_additional_data_contents .form-list label {
    font-size: 16px;
}

#product_tabs_product_additional_data_contents .form-list .input-box > input,
#product_tabs_product_additional_data_contents .form-list .input-box > textarea {
    font-size: 15px;
}

/*CSS for Mini Cart*/
#cart-sidebar {
    height: 227px;
    overflow-y: scroll;
    padding-right: 10px;
}

    #cart-sidebar > .item > .image {
        width: 20%;
    }

        #cart-sidebar > .item > .image > .soldOut {
            width: 80% !important;
        }

    #cart-sidebar > .item > .content > .header {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        width: 125px;
    }

    #cart-sidebar > .item > .content > .meta > span {
        font-size: 16px;
        margin: 5px 0;
    }

.subTr {
    display: none;
    margin-left: 10px;
}
