﻿@model Business.ViewModels.ProductViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/Content/semantic/comment.min.css" rel="stylesheet" />
}

<div class="main-container col1-layout" id="detail">
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li class="home">
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                    <span></span>
                </li>

                <li class="category">
                    <a href="@Url.Action("Cat", "Category", new { id = Model.CategoryID, name = Model.CategoryRouteName })">
                        @Model.CategoryName
                    </a>
                    <span></span>
                </li>

                @if (Model.SubCategoryID != 0)
                {
                    <li class="subCategory">
                        <a href="@Url.Action("Sub", "Category", new { name = Model.CategoryRouteName, subId = Model.SubCategoryID, subName = Model.SubCategoryRouteName, id = Model.CategoryID })">
                            @Model.SubCategoryName
                        </a>
                        <span></span>
                    </li>
                }

                <li class="product">
                    <strong>@Model.ProductName</strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="main">
            <div class="col-main">
                <div id="messages_product_view"></div>
                <div class="product-view">
                    <div class="product-essential">
                        <form action="@Url.Action("AddCart", "ShoppingCart")" method="post" id="addtocart_form">
                            <div class="row">
                                <div class="col-sm-4 col-sms-12">
                                    <div class="product-img-box">
                                        <p class="product-image">
                                            <a class="cloud-zoom" id="ma-zoom1" style="position: relative; display: block;">
                                                @if (Model.Quantity == 0)
                                                {
                                                    <img src="~/images/notification/soldout.png" class="soldOut" />
                                                }
                                                <img src="@(Model.Images.Count > 0 ? Model.Images[0].Link : "/images/no-image/268.jpg")" />
                                            </a>
                                        </p>

                                        <div class="more-views ma-thumbnail-container">
                                            <ul class="bxslider">
                                                @foreach (var image in Model.Images)
                                                {
                                                    <li class="thumbnail-item">
                                                        <a class="cloud-zoom-gallery" name="@image.Link">
                                                            <img src="@image.Link" />
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-shop col-sm-5 col-sms-12">
                                    <div class="product-name">
                                        <h1>@Model.ProductName</h1>
                                    </div>

                                    <p class="availability in-stock">Tình trạng: <span>@(Model.Quantity > 0 ? "Còn hàng" : "Hết hàng")</span></p>

                                    <p class="availability in-stock">Lượt xem: @Model.Viewed</p>

                                    <div class="short-description">
                                        <div class="std"></div>
                                    </div>

                                    <div class="price-box">
                                        @if (Model.SalePrice > 0)
                                        {
                                            <p class="special-price">
                                                <span class="price" id="product-price-11">
                                                    @Model.SalePrice.ToString("##,#")
                                                </span>
                                            </p>
                                        }

                                        <p class="@(Model.SalePrice == 0 ? "regular-price" : "old-price")">
                                            <span class="price" id="old-price-11">
                                                @Model.Price.ToString("##,#")
                                            </span>
                                        </p>
                                    </div>

                                    <div class="add-to-box-cart">
                                        @*Condition for Timer Controllers goes here*@
                                        @if (Model.SalePrice > 0)
                                        {
                                            <div id="heading1" style="color:#FFFFFF; font-size: 18px; font-weight:bold;padding-top:15px;clear: both;"></div>
                                            <div id="countbox_1" class="timer-view"></div>
                                            <div class='clear'></div>
                                            <div class='timerdate' id="caption1"><span class='hour' style='margin:1px 23px 0 0px'>Days</span><span class='hour' style='margin:1px 19px 0 15px'>Hours</span><span class='min' style='margin:1px 20px 0 7px'>Minutes</span><span class='sec' style='margin:1px 0 0 2px'>Seconds</span></div>
                                        }

                                        <div class="add-to-cart">
                                            <label for="qty">Số lượng:</label>

                                            <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" />

                                            <button type="button" class="button btn-cart" data-proId="@Model.ProductID" @(Model.Quantity == 0 ? "disabled" : "")>
                                                <span><span>Thêm vào giỏ hàng</span></span>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="add-to-box">

                                    </div>
                                </div>

                                <div class="col-sm-3 col-sms-12">
                                    @Html.Action("_RelatedCategoryPartial", "Product", new { id = Model.CategoryID, productID = Model.ProductID })
                                </div>
                            </div>

                            <div class="clearer"></div>
                            <div class="no-display">
                                <input type="hidden" name="proID" id="proID" />
                                <input type="hidden" name="quantity" id="quantity" />
                            </div>
                        </form>
                    </div>

                    <div class="product-collateral">
                        <ul class="product-tabs">
                            <li id="product_tabs_description" class="active first">
                                <a tag="#product_tabs_description_contents">Mô tả</a>
                            </li>

                            <li id="product_tabs_product_additional_data" class="">
                                <a tag="#product_tabs_product_additional_data_contents">Bình luận</a>
                            </li>
                        </ul>

                        <div class="product-tabs-content" id="product_tabs_description_contents">
                            <div class="std">
                                @Html.Raw(Model.Description != null ? Model.Description : "Chưa có mô tả")
                            </div>
                        </div>

                        @Html.Action("_CommentPartial", "Comment", new { proId = Model.ProductID, proName = Model.ProductName })

                        @Html.Action("_RelatedProducerPartial", "Product", new { id = Model.ProducerID, productID = Model.ProductID })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/myJS/moment/moment.min.js"></script>
    <script src="~/Scripts/myJS/mustache/mustache.min.js"></script>
    <script id="comment_template" type="text/html">
        <div class="comment">
            <div class="content">
                <a class="author" title="Tên người dùng">{{name}}</a>

                <div class="metadata">
                    <span class="date" title="Ngày đăng">{{date}}</span>
                </div>

                <div class="text">
                    {{comment}}
                </div>
            </div>
        </div>
    </script>

    <script id="back_template" type="text/html">
        <li>
            <a class="prev" data-page="{{page}}"></a>
        </li>
    </script>

    <script id="next_template" type="text/html">
        <li>
            <a class="next" data-page="{{page}}"></a>
        </li>
    </script>

    <script id="page_template" type="text/html">
        <li>
            <a class="{{class}}" tag="{{page}}">{{page}}</a>
        </li>
    </script>

    <script src="~/Scripts/myJS/commentJS.js"></script>
}